.DS_Store
.env
.venv/
__pycache__/
.pytest_cache/
*.py[cod]
*.egg-info/
.mypy_cache/
.ruff_cache/
node_modules/
/frontend/config.js
.next/
data/raw/*
data/processed/*
data/reference/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/reference/.gitkeep
